* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
}

.fundo {
  background-color: #e0e8fe;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
  /* background-image: url(./order-summary-component-main/images/pattern-background-mobile.svg); */
  background-repeat: no-repeat;
  background-size: 100vh;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  height: 70%;
  box-shadow: 0px 2px 15px #616060;
}

.img-music {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.sem-img {
  padding: 5%;
}

.cabecalho {
  margin-top: 10%;
  margin-bottom: 8%;
}

.cabecalho > h3 {
  margin-bottom: 4%;
}

.cabecalho > p {
  font-size: 1.2rem;
  margin-left: 5%;
  margin-right: 5%;
  color: #bbc0cc;
  font-weight: 500;
}

.caixa-anual {
  display: flex;
  border-radius: 10px;
  width: 90%;
  height: 25%;
  margin-left: 5%;
  margin-bottom: 12%;
  background-color: #f8f9fe;
}

.caixa-anual > img {
  margin-left: 6%;
  margin-top: 5%;
  width: 16%;
  height: 57%;
}

.coluna {
  margin-left: 6%;
  margin-right: 15%;
  margin-top: 9%;
}

.coluna > h5 {
  margin-right: 21%;
  color: #bbc0cc;
}

.change {
  margin-top: 11%;
  margin-left: 3%;
  margin-right: 5%;
}

.pagamento {
  text-decoration: none;
  background-color: #485ee1;
  border-radius: 10px;
  padding: 5% 25% 5% 25%;
  color: #fff;
  box-shadow: 0px 2px 15px #616060;
}

.cancela {
  margin-top: 11%;
  color: #bbc0cc;
  font-weight: 900;
}

/* ------------- MEDIA QUERIES ---------------- */

@media (min-width: 1440px) {
  .fundo {
    /* background-image: url(/order-summary-component-main/images/pattern-background-desktop.svg); */
    background-repeat: no-repeat;
    background-size: 100vh;
    justify-content: center;
    align-content: center;
  }

  .container {
    height: 61%;
    align-items: center;
    justify-content: center;
    width: 25%;
  }

  .img-music {
    margin-top: -35%;
  }

  .cabecalho {
    margin-top: 4%;
  }

  .caixa-anual > img {
    width: 14%;
    height: 61%;
  }

  .coluna {
    margin-top: 5.5%;
  }

  .change {
    margin-top: 8%;
  }
}
